@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('../public/font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../public/font/Roboto-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('../public/font/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../public/font/Roboto-Bold.ttf');
    font-weight: 700;
}


* {
    font-family: 'Roboto';
}

.hiringAnimation {
    animation: hiringAnimation 1.5s ease-in-out 0s infinite normal;
}

@keyframes hiringAnimation {
    0% {
        box-shadow: 0 0 0 0 #45AF56;
    }

    80% {
        box-shadow: 0 0 0 8px #45AF5644;
    }

    100% {
        box-shadow: 0 0 0 8px #45AF5600;
    }
}